= render partial: "stats_header"

.container-fluid
  = form_tag administration_survey_stats_path(@survey), method: 'GET' do
    .row
      .col-md-3.col-xs-12
        .form-group
          %label
            Start Date
          = date_field_tag :start_date_answered, @start_date_answered, class: "form-control"
      .col-md-3.col-xs-12
        .form-group
          %label
            End Date
          = date_field_tag :end_date_answered, @end_date_answered, class: "form-control"
      - key_questions(@survey.id).each do |q|
        .col
          .form-group
            %label
              #{q.content}
            = select_tag "questions_#{q.id}", options_for_select(key_options(q.id), params["questions_#{q.id}"]), class: "form-control"
      .col-md-2.col-xs-12
        .form-group
          %label
            Actions
          %button.btn.btn-info.btn-block{ type: "submit" }
            .fa.fa-sync
            Filter

  .row
    .col
      - if @data[:records].any?
        - @data[:records].each_with_index do |result, i|
          %h5
            #{i + 1})
            #{result[:question][:content]}
          %hr
          %table.table.table-sm.table-bordered
            %tr
              %th{ width: "25%" }
                Option
              %th
                Count
            - result[:question][:answers].each do |o|
              %tr
                %th.text-muted
                  #{o[:answer]}
                %td
                  #{o[:count]}
      - else
        %p
          No results
