= render partial: "stats_header"

.container-fluid
  = form_tag administration_survey_stats_path(@survey), method: 'GET' do
    .row
      .col-md-10.col-xs-12
        .form-group
          %label
            Date
          = date_field_tag :date_answered, @date_answered, class: "form-control"
      .col-md-2.col-xs-12
        .form-group
          %label
            Actions
          %button.btn.btn-info.btn-block{ type: "submit" }
            .fa.fa-sync
            Filter
    .row
      .col
        %table.table.table-bordered
          %tr
            %th
              Number of Answers:
            %td
              #{@survey.survey_answers.where(is_final: true, date_answered: @date_answered).count}
          %tr
            %th
              Number of Respondents:
            %td
              #{@survey.survey_answers.where(is_final: true, date_answered: @date_answered).pluck(:user_id).uniq.size}

  .row
    .col
      - if @data[:records].any?
        - @data[:records].each_with_index do |result, i|
          %h5
            #{i + 1})
            #{result[:question][:content]}
          %hr
          %table.table.table-sm.table-bordered
            %tr
              %th{ width: "25%" }
                Option
              %th
                Count
            - result[:question][:answers].each do |o|
              %tr
                %th.text-muted
                  #{o[:answer]}
                %td
                  #{o[:count]}
      - else
        %p
          No results
