= simple_form_for [:administration, @survey, @question] do |f|
  .row
    .col
      .form-group
        = f.input :content, input_html: { class: 'form-control' }
  .row
    .col
      .form-group
        = f.input :question_type, as: :select, collection: Question::QUESTION_TYPES, input_html: { class: 'form-control' }
    .col
      .form-group
        = f.input :priority, input_html: { class: 'form-control' }
  %hr
  %button.btn.btn-success{ type: "save" }
    .fa.fa-check
    Save
  = link_to administration_survey_path(@survey), class: "btn btn-danger" do
    .fa.fa-times
    Cancel
