= render partial: "show_header"

.container-fluid
  .row
    .col
      %h2
        #{@survey}
      %hr
      - @survey_answer.survey_question_answers.each do |o|
        .card
          .card-body
            %h5
              #{o.question.content}
            %hr
            - if o.question.question_type == "single"
              - if !@survey_answer.is_final
                - o.question.question_options.order("priority ASC").each do |option|
                  = radio_button_tag("options-#{o.question.id}", option.val, option.val == o.answer)
                  #{option.label}
                  %br
                = text_field_tag :answer, o.answer, class: "form-control", id: "answer-#{o.id}"
                %hr
                .btn.btn-info.btn-block.btn-submit{ data: { id: o.id, target: "answer-#{o.id}" } }
                  .fa.fa-check
                  Save Answer
              - else
                %ul
                  - o.question.question_options.order("priority ASC").each do |option|
                    %li
                      #{option}
                #{o.answer}
            - elsif o.question.question_type == "multiple"
              - if !@survey_answer.is_final
                - o.question.question_options.order("priority ASC").each do |option|
                  = check_box_tag("option-#{option.id}", option.val, o.answer.split(",").include?(option.val == o.answer))
                  #{option.label}
                  %br
                = text_field_tag :answer, o.answer, class: "form-control", id: "answer-#{o.id}"
                %hr
                .btn.btn-info.btn-block.btn-submit{ data: { id: o.id, target: "answer-#{o.id}" } }
                  .fa.fa-check
                  Save Answer
              - else
                #{o.answer}
            - elsif o.question.question_type == "single-written"
              - if !@survey_answer.is_final
                = text_field_tag :answer, o.answer, class: "form-control", id: "answer-#{o.id}"
                %hr
                .btn.btn-info.btn-block.btn-submit{ data: { id: o.id, target: "answer-#{o.id}" } }
                  .fa.fa-check
                  Save Answer
              - else
                #{o.answer}
            - elsif o.question.question_type == "date"
              - if !@survey_answer.is_final
                = text_field_tag :answer, o.answer, class: "form-control", type: "date", id: "answer-#{o.id}"
                %hr
                .btn.btn-info.btn-block.btn-submit{ data: { id: o.id, target: "answer-#{o.id}" } }
                  .fa.fa-check
                  Save Answer
              - else
                #{o.answer}
            - elsif o.question.question_type == "numeric"
              - if !@survey_answer.is_final
                = text_field_tag :answer, o.answer, class: "form-control", type: "number", id: "answer-#{o.id}"
                %hr
                .btn.btn-info.btn-block.btn-submit{ data: { id: o.id, target: "answer-#{o.id}" } }
                  .fa.fa-check
                  Save Answer
              - else
                #{o.answer}
        %hr
      - if @survey_answer.is_final
        %p
          This survey has already been answered
      - else
        #btn-finalize.btn.btn-success.btn-block
          .fa.fa-check
          Finalize
        %hr
        .card.text-white.bg-info
          .card-header
            Delete Record
          .card-body
            %h5
              Warning!
            %p
              Once you delete this record, this action cannot be undone. 
            .pull-right
              = link_to survey_answer_path(@survey_answer), class: 'btn btn-danger', method: :delete, data: { confirm: "Are you sure?" } do |o|
                .fa.fa-times
                Confirm Delete
        %hr

= render partial: "survey_answers/modals/finalize"

= javascript_include_tag "survey_answers/Show.js"

:javascript
  $(document).ready(function() {
    var authenticityToken = $("meta[name='csrf-token']").attr('content');

    Show.init({
      authenticityToken: authenticityToken
    });
  });
