%nav.navbar.navbar-expand-lg.navbar-dark.bg-info
  = link_to root_path, class: "navbar-brand" do
    Covid19 Crisis Tracker
  %button.navbar-toggler{ data: { toggle: "collapse", target: "#navbar-nav" } }
    %span.navbar-toggler-icon
  #navbar-nav.collapse.navbar-collapse
    %ul.navbar-nav
      - if user_signed_in?
        %li.nav-item
          = link_to patients_path, class: 'nav-link' do
            .fa.fa-users
            My Records
        %li.nav-item
          = link_to survey_answers_path, class: 'nav-link' do
            .fa.fa-file
            My Surveys
        %li.nav-item
          = link_to profile_path, class: 'nav-link' do
            .fa.fa-user
            Profile
        - if current_user.admin?
          %li.nav-item
            = link_to administration_surveys_path, class: 'nav-link' do
              .fa.fa-file
              Surveys
        %li.nav-item
          = link_to destroy_user_session_path, method: :delete, class: 'nav-link' do
            .fa.fa-times
            Logout
  = render partial: "shared/login"
