%div.table-responsive
  %table.table.table-bordered.table.table-sm
    %thead
      %tr
        %th
          ID
        %th
          Gender
        %th
          Age
        %th
          Symptoms
        %th
          Needs
        %th
          City
        %th
          Status
        %th
          Classification
    %tbody
      - @patients.each do |p|
        %tr
          %td
            #{truncate(p.id, length: 12)}
          %td
            #{p.gender}
          %td
            #{p.age}
          %td
            - if p.symptoms.present?
              %ul
                - p.symptoms.select{ |o| o.present? }.each do |s|
                  %li
                    #{s}
          %td
            - if p.needs.present?
              %ul
                - p.needs.select{ |o| o.present? }.each do |s|
                  %li
                    #{s}
            - if p.needs_status == "manageable"
              .badge.badge-info
                Manageable
            - elsif p.needs_status == "critical"
              .badge.badge-danger
                Critical
          %td
            #{p.city}
          %td
            #{p.status}
          %td
            #{p.classification}
