= render partial: "index_header"
.container-fluid
  .row
    .col
      %h1
        Welcome to Covid19 Response Hub

      - if ENV['STAGING'].present?
        .card.text-white.bg-danger
          .card-body
            %h5
              Warning!
            %p
              This is only a staging site. The official version will be released to public as soon as some features are already in place and use for public consumption. Please do not put in any personal information here as only one account is active.
            %p
              In the meantime, you may try it out using the following credentials:
            %ul
              %li
                %span.text-bold
                  Username: 
                test
              %li
                %span.text-bold
                  Password:
                password
      %hr

      %h4
        Establishments in Need
      %p
        These are records partaining to establishments contributed by the community that are need of various items.
      - if @establishments.size > 0
        = render partial: "establishment_list"
      %h4
        People Tracker
      %p
        These are aggregated information of people in need of supplies as well as symptoms and other information in relation to this quarantine period. It is not to be taken as a source of Covid19 patients but rather as crowd sourced information to identify which sections of Metro Manila contain density of population with various needs.
      = render partial: "stats"
      - if @patients.size > 0
        = render partial: "index_list"
        = paginate @patients
      - else
        %p
          No records yet
