= render partial: "profile_header"

.container-fluid
  .row
    .col
      .card
        .card-body
          .message
          %table.table.table-bordered
            %tr
              %th
                First Name:
              %td
                #{current_user.first_name}
            %tr
              %th
                Last Name:
              %td
                #{current_user.last_name}
            %tr
              %th
                Username:
              %td
                #{current_user.username}
            %tr
              %th
                Company Name / Branch:
              %td
                .form-group
                  = text_field_tag :company, current_user.company, id: 'input-company', class: 'form-control'
                  %span
                    #btn-save-company.btn.btn-info
                      .fa.fa-check
                      Save Company Name
            %tr
              %th
                Group Name / Center:
              %td
                .form-group
                  = text_field_tag :group_name, current_user.group_name, id: 'input-group-name', class: 'form-control'
                  %span
                    #btn-save-group-name.btn.btn-info
                      .fa.fa-check
                      Save Group Name
          .card
            .card-body
              %h4
                Change Password
              .row
                .col
                  .form-group
                    %label
                      Password:
                    = password_field_tag :password, "", id: 'input-cp-password', class: 'form-control'
                  .form-group
                    %label
                      Confirm Password:
                    = password_field_tag :password, "", id: 'input-cp-confirm-password', class: 'form-control'
                  %hr
                  #btn-change-password.btn.btn-info.btn-block
                    .fa.fa-sync
                    Change Password

= render partial: "shared/errors"
= javascript_include_tag "Profile.js"

:javascript
  $(document).ready(function() {
    var authenticityToken = $("meta[name='csrf-token']").attr('content');

    Profile.init({
      authenticityToken: authenticityToken
    });
  });
