- if @patient.errors.size > 0
  %h5
    Errors
  %ul
    - @patient.errors.full_messages.each do |e|
      %li
        #{e}

= simple_form_for @patient do |f|
  .row
    .col-md-5
      .form-group
        = f.input :first_name, input_html: { class: 'form-control' }
    .col-md-2
      .form-group
        = f.input :middle_name, input_html: { class: 'form-control' }
    .col-md-5
      .form-group
        = f.input :last_name, input_html: { class: 'form-control' }
  .row
    .col-md-3
      .form-group
        = f.input :gender, as: :select, collection: Patient::GENDERS, input_html: { class: 'form-control' }
    .col-md-3
      .form-group
        = f.input :date_of_birth, as: :string, input_html: { class: 'form-control', type: 'date' }
    .col-md-3
      .form-group
        = f.input :city, as: :select, collection: @cities, input_html: { id: 'select-city', class: 'form-control' }
  .row
    .col
      .form-group
        = f.input :address, input_html: { class: 'form-control' }, label: "Address (This is optional and will remain anonymous)"
  .row
    .col
      .form-group
        %h5
          Temperature
        = f.input :temperature, label: false, input_html: { class: 'form-control' }
    .col
      .form-group
        %h5
          Symptoms
        = f.input :symptoms, as: :check_boxes, collection: Patient::SYMPTOMS, label: false
    .col
      .form-group
        %h5
          * Classification
        = f.input :classification, as: :select, collection: Patient::CLASSIFICATIONS, label: false, input_html: { class: 'form-control' }
    .col
      .form-group
        %h5
          * Status
        = f.input :status, as: :select, collection: Patient::STATUSES, label: false, input_html: { class: 'form-control' }
    .col
      .form-group
        %h5
          Is Positive
        = f.input :is_positive, label: false
  .row
    .col
      .form-group
        %h5
          Needs
        = f.input :needs, as: :check_boxes, collection: Patient::NEEDS, label: false
    .col
      .form-group
        %h5
          Needs Status
        = f.input :needs_status, as: :select, collection: Patient::NEEDS_STATUS, label: false, input_html: { class: 'form-control' }
  .row
    .col
      .form-group
        %h5
          Notes
        = f.input :notes, as: :text, input_html: { class: 'form-control' }, label: false

  %hr
  .row
    .col
      %button{ type: "submit", class: "btn btn-info" }
        .fa.fa-check
        Save
      = link_to patients_path, class: "btn btn-danger" do
        .fa.fa-times
        Cancel
