- if @patient.errors.size > 0
  %h5
    Errors
  %ul
    - @patient.errors.full_messages.each do |e|
      %li
        #{e}

= simple_form_for @patient do |f|
  .row
    .col-md-5
      .form-group
        = f.input :first_name, input_html: { class: 'form-control' }
    .col-md-2
      .form-group
        = f.input :middle_name, input_html: { class: 'form-control' }
    .col-md-5
      .form-group
        = f.input :last_name, input_html: { class: 'form-control' }
  .row
    .col-md-6
      .form-group
        = f.input :gender, as: :select, collection: Patient::GENDERS, input_html: { class: 'form-control' }
    .col-md-6
      .form-group
        = f.input :date_of_birth, as: :string, input_html: { class: 'form-control', type: 'date' }
  .row
    .col-md-3
      .form-group
        = f.input :region, as: :select, collection: [], input_html: { id: 'select-region', class: 'form-control' }
    .col-md-3
      .form-group
        = f.input :province, as: :select, collection: [], input_html: { id: 'select-province', class: 'form-control' }
    .col-md-3
      .form-group
        = f.input :city, as: :select, collection: [], input_html: { id: 'select-city', class: 'form-control' }, label: "City / Municipality"
    .col-md-3
      .form-group
        = f.input :village, as: :select, collection: [], input_html: { id: 'select-village', class: 'form-control' }
  .row
    .col
      .form-group
        = f.input :address, input_html: { class: 'form-control' }, label: "Address (This is optional and will remain anonymous)"
  .row
    .col
      .form-group
        %h5
          Temperature
        = f.input :temperature, label: false, input_html: { class: 'form-control' }
    .col
      .form-group
        %h5
          Symptoms
        = f.input :symptoms, as: :check_boxes, collection: Patient::SYMPTOMS, label: false
    .col
      .form-group
        %h5
          * Classification
        = f.input :classification, as: :select, collection: Patient::CLASSIFICATIONS, label: false, input_html: { class: 'form-control' }
    .col
      .form-group
        %h5
          * Status
        = f.input :status, as: :select, collection: Patient::STATUSES, label: false, input_html: { class: 'form-control' }
    .col
      .form-group
        %h5
          Is Positive
        = f.input :is_positive, label: false
  .row
    .col
      .form-group
        %h5
          Needs
        = f.input :needs, as: :check_boxes, collection: Patient::NEEDS, label: false
    .col
      .form-group
        %h5
          Needs Status
        = f.input :needs_status, as: :select, collection: Patient::NEEDS_STATUS, label: false, input_html: { class: 'form-control' }
  .row
    .col
      .form-group
        %h5
          Notes
        = f.input :notes, as: :text, input_html: { class: 'form-control' }, label: false

  %hr
  .row
    .col
      %button{ type: "submit", class: "btn btn-info" }
        .fa.fa-check
        Save
      = link_to patients_path, class: "btn btn-danger" do
        .fa.fa-times
        Cancel

#parameters{ data: { data: @data.to_json, region: @patient.region, province: @patient.province, city: @patient.city, village: @patient.village } }
= javascript_include_tag "patients/Form.js"

:javascript
  $(document).ready(function() {
    var $parameters = $("#parameters");
    var data        = $parameters.data('data');
    var region      = $parameters.data('region');
    var province    = $parameters.data('province');
    var city        = $parameters.data('city');
    var village     = $parameters.data('village');

    Form.init({
      data: data,
      region: region,
      province: province,
      city: city,
      village: village
    });
  });
