= render partial: "show_header"

.container-fluid
  .row
    .col
      .card
        .card-body
          %h3
            #{@patient.full_name}
          %table.table.table-bordered
            %tbody
              %tr
                %th
                  Gender
                %td
                  #{@patient.gender}
              %tr
                %th
                  Age
                %td
                  #{@patient.age}
              %tr
                %th
                  Region
                %td
                  #{@patient.region}
              %tr
                %th
                  Province
                %td
                  #{@patient.province}
              %tr
                %th
                  City / Municipality
                %td
                  #{@patient.city}
              %tr
                %th
                  Village / Barangay
                %td
                  #{@patient.village}
              %tr
                %th
                  Symptoms
                %td
                  %ul
                    - @patient.symptoms.select{ |o| o.present? }.each do |o|
                      %li
                        #{o}
              %tr
                %th
                  Status Checklist
                %td
                  %ul
                    %li
                      (#{@patient.access_to_transportation ? 'yes' : 'no'}) Access to Transportation
                    %li
                      (#{@patient.access_to_food ? 'yes' : ''}) Access to Food
                    %li
                      (#{@patient.receives_government_aid ? 'yes' : 'no'}) Receives Government Aid
                    %li
                      (#{@patient.is_positive ? 'yes' : 'no'}) Is Positive with Covid19
              %tr
                %th
                  Action Taken
                %td
                  - if @patient.action_taken == "Others"
                    #{@patient.other_action_taken}
                  - else
                    #{@patient.action_taken}
              %tr
                %th
                  Needs
                %td
                  %ul
                    - @patient.needs.select{ |o| o.present? }.each do |o|
                      %li
                        #{o}
                  - if @patient.needs_status == "manageable"
                    .badge.badge-info
                      Manageable
                  - elsif @patient.needs_status == "critical"
                    .badge.badge-danger
                      Critical
              %tr
                %th
                  Notes
                %td
                  #{@patient.notes}
          %hr
          = link_to edit_patient_path(@patient) do |o|
            .fa.fa-pencil-alt
            Edit
          = link_to patient_path(@patient), method: :delete, data: { confirm: "Are you sure?" } do |o|
            .fa.fa-times
            Delete
